#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null && pwd )"

## Proveedores

# Password de API basic
printf "proveedores123" | docker secret create proveedores_api_pass -
printf "postgres123" | docker secret create proveedores_db_pass -

# Conexión con Araí Usuarios
PROVEEDORES_CONEXION_USUARIOS=$(cat << EOF
{base_uri:'usuarios-api/api/v1/usuarios',method:'basic',user:'proveedores',password:'proveedores123'}
EOF
)
printf $PROVEEDORES_CONEXION_USUARIOS | docker secret create proveedores_conexion_usuarios -