#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null && pwd )"

################################################################################
# Usuarios
################################################################################
printf "postgres123" | docker secret create usuarios_db_pass -
printf "admin123" | docker secret create usuarios_ldap_admin_pass -
printf "admin123" | docker secret create usuarios_ldap_config_pass - 
printf $(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 20 | head -n 1) | docker secret create usuarios_pass_salt -
printf "admin123" | docker secret create usuarios_idp_simplesaml_admin -

printf '[["documentos","documentos123"],["huarpe","huarpe123"],["proveedores","proveedores123"]]' | docker secret create usuarios_api_users -

#docker volume create usuarios_assets_vol

## Documentos

# Password de API basic
printf "docs123" | docker secret create docs_api_pass -
printf "postgres123" | docker secret create docs_db_pass -
printf "Administrator" | docker secret create docs_repo_pass -

# Conexión con Araí Usuarios
DOCS_CONEXION_USUARIOS=$(cat << EOF
"{base_uri:'usuarios-api/api/v1/usuarios',method:'basic',user:'documentos',password:'documentos123'}"
EOF
)
printf $DOCS_CONEXION_USUARIOS | docker secret create docs_conexion_usuarios -

# Conexión con Sudocu
DOCS_CONEXION_SUDOCU=$(cat << EOF
"{base_uri:'http://api-server:8080/',method:'basic',user:'integracion',password:'integracion'}"
EOF
)
printf $DOCS_CONEXION_SUDOCU | docker secret create docs_conexion_sudocu -


## Huarpe
printf $(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 31 | head -n 1) | docker secret create huarpe_secret -

# Tiene que coincidir con el valor del pass del usuario huarpe
# del secreto usuarios_api_users
printf 'huarpe123' | docker secret create huarpe_usuarios_pass -

# Loki/grafana
printf 'grafanapassword' | docker secret create grafana_pass -
