{
  "auth_providers_basic_password": "integracion",
  "auth_admin_basic_password": "admin",
  "repositorios_arai_password": "docs123",
  "firma_password": "docs123",
  "db_password": "postgres",
  "redis_options_password": "redis",
  "nuxeo_admin_password":"Administrator"
}
